# **REDUCING MALARIA INCIDENCE IN AFRICA(NIGERIA)**

## Objectives

* To carry out exploratory data analysis by cleaning the raw data and to transform it into useable data needed for the analysis to derive the end goal. The data was sourced from kaggle and stored in a folder labelled "raw". 

## Inputs

*  Three datasets were sourced from kaggle to be used in the comparative analysis required. In order to run the data and carry out the EDA certain python libraries were imported into the virtual environment in the notebook.

## Outputs

* Write here which files, code or artefacts you generate by the end of the notebook 

## Additional Comments

* If you have any additional comments that don't fit in the previous bullets, please state them here.

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [18]:
import os
current_dir = os.getcwd()
current_dir

'/Users/hafeezahfagbo/Malaria/malaria-health'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [19]:
os.chdir(os.path.dirname('/Users/hafeezahfagbo/Malaria/malaria-health/jupyter_notebooks'))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [20]:
current_dir = os.getcwd()
current_dir

'/Users/hafeezahfagbo/Malaria/malaria-health'

# Section 1

Section 1: Import necessary libraries

In [21]:

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns # visualization
import plotly.express as px # visualization
import matplotlib.pyplot as plt # plotting

# Section 2: ETL; extract,transform and load dataset

# **EXTRACT DATASETS**

***LOAD RAW DATA***

First step in analysing is to load the raw data and confirm it loaded correctly.

---

In [22]:
#load the datasets
df_estimated = pd.read_csv('jupyter_notebooks/raw/estimated_numbers.csv')
df_reported = pd.read_csv('jupyter_notebooks/raw/reported_numbers.csv')
df_incidence = pd.read_csv('jupyter_notebooks/raw/incidence.csv')

#display the first 5 rows of the dataset
print(df_estimated.head())
print(df_reported.head())
print(df_incidence.head())

       Country  Year              No. of cases      No. of deaths  \
0  Afghanistan  2017     630308[495000-801000]       298[110-510]
1      Algeria  2017                         0                  0
2       Angola  2017  4615605[3106000-6661000]  13316[9970-16600]
3    Argentina  2017                         0                  0
4      Armenia  2017                         0                  0

   No. of cases_median  No. of cases_min  No. of cases_max  \
0               630308          495000.0          801000.0
1                    0               NaN               NaN
2              4615605         3106000.0         6661000.0
3                    0               NaN               NaN
4                    0               NaN               NaN

   No. of deaths_median  No. of deaths_min  No. of deaths_max  \
0                   298              110.0              510.0
1                     0                NaN                NaN
2                 13316             9970.0            16600.0
3                     0                NaN                NaN
4                     0                NaN                NaN

              WHO Region
0  Eastern Mediterranean
1                 Africa
2                 Africa
3               Americas
4                 Europe
       Country  Year  No. of cases  No. of deaths             WHO Region
0  Afghanistan  2017      161778.0           10.0  Eastern Mediterranean
1      Algeria  2017           0.0            0.0                 Africa
2       Angola  2017     3874892.0        13967.0                 Africa
3    Argentina  2017           0.0            1.0               Americas
4      Armenia  2017           0.0            NaN                 Europe
       Country  Year  No. of cases             WHO Region
0  Afghanistan  2018         29.01  Eastern Mediterranean
1      Algeria  2018          0.00                 Africa
2       Angola  2018        228.91                 Africa
3    Argentina  2018          0.00               Americas
4      Armenia  2018          0.00                 Europe

After loading we can view the first 5 rows in each dataset. This confirms it loaded correctly.
From this initial step,the inclusion of the median,minimum and maximum values give readily available probability values to work with in the statistical analysis.

# ***TRANSFORM DATA***

 INSPECT

Check the first few rows to understand the data type,column names,number of rows

In [23]:
# Get information about the DataFrame
print(df_estimated.info())
print(df_reported.info())
print(df_incidence.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 856 entries, 0 to 855
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Country               856 non-null    object
 1   Year                  856 non-null    int64
 2   No. of cases          856 non-null    object
 3   No. of deaths         856 non-null    object
 4   No. of cases_median   856 non-null    int64
 5   No. of cases_min      544 non-null    float64
 6   No. of cases_max      544 non-null    float64
 7   No. of deaths_median  856 non-null    int64
 8   No. of deaths_min     524 non-null    float64
 9   No. of deaths_max     524 non-null    float64
 10  WHO Region            856 non-null    object
dtypes: float64(4), int64(3), object(4)
memory usage: 73.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1944 entries, 0 to 1943
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country        1944 non-null   object
 1   Year           1944 non-null   int64
 2   No. of cases   1710 non-null   float64
 3   No. of deaths  1675 non-null   float64
 4   WHO Region     1944 non-null   object
dtypes: float64(2), int64(1), object(2)
memory usage: 76.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2033 entries, 0 to 2032
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       2033 non-null   object
 1   Year          2033 non-null   int64
 2   No. of cases  2033 non-null   float64
 3   WHO Region    2033 non-null   object
dtypes: float64(1), int64(1), object(2)
memory usage: 63.7+ KB
None

From the above code the data type info, the non-null count and column name is shown. Along with the number of rows and columns in each dataframe. 
The conclusion is there are missing values that requires to be either dropped or filled. The numerical columns need to be standardized. Also check if there are duplicates to be dropped.

 HANDLE MISSING VALUES

In [24]:
#Check for missing values
print(df_estimated.isnull().sum())
print(df_reported.isnull().sum())
print(df_incidence.isnull().sum())

Country                   0
Year                      0
No. of cases              0
No. of deaths             0
No. of cases_median       0
No. of cases_min        312
No. of cases_max        312
No. of deaths_median      0
No. of deaths_min       332
No. of deaths_max       332
WHO Region                0
dtype: int64
Country            0
Year               0
No. of cases     234
No. of deaths    269
WHO Region         0
dtype: int64
Country         0
Year            0
No. of cases    0
WHO Region      0
dtype: int64

In [25]:
#Different methods are used to handle the missing data in these datasets
#Since no missing value in the incidence dataset, we will start with the estimated dataset

#Replace missing values in min/max cases and deaths with the median
df_estimated["No. of cases_min"].fillna(df_estimated["No. of cases_min"].median(), inplace=True)
df_estimated["No. of cases_max"].fillna(df_estimated["No. of cases_max"].median(), inplace=True)
df_estimated["No. of deaths_min"].fillna(df_estimated["No. of deaths_min"].median(), inplace=True)
df_estimated["No. of deaths_max"].fillna(df_estimated["No. of deaths_max"].median(), inplace=True)

#Fill missing reported cases and deaths with (ffill)
df_reported.fillna(method="ffill", inplace=True)


#Drop columns with more than 50% missing values
df_estimated.dropna(thresh=df_estimated.shape[1] * 0.5, inplace=True)
df_reported.dropna(thresh=df_reported.shape[1] * 0.5, inplace=True)

#Check for missing values are handled
print(df_estimated.isnull().sum())
print(df_reported.isnull().sum())

Country                 0
Year                    0
No. of cases            0
No. of deaths           0
No. of cases_median     0
No. of cases_min        0
No. of cases_max        0
No. of deaths_median    0
No. of deaths_min       0
No. of deaths_max       0
WHO Region              0
dtype: int64
Country          0
Year             0
No. of cases     0
No. of deaths    0
WHO Region       0
dtype: int64

/var/folders/5w/h15_hs_x2dqcp2vlqtmrxlqm0000gn/T/ipykernel_23489/2102009072.py:11: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_reported.fillna(method="ffill", inplace=True)

 STANDARDIZE COLUMN

In [26]:
#Standardize the column names to keep names uniform for merging
df_estimated.rename(columns={"No. of cases": "Estimated Cases", "No. of deaths": "Estimated Deaths"}, inplace=True)
df_reported.rename(columns={"No. of cases": "Reported Cases", "No. of deaths": "Reported Deaths"}, inplace=True)
df_incidence.rename(columns={"No. of cases": "Malaria Incidence"}, inplace=True)

#Convert Data Types,ensure all numerical columns are of type int
df_estimated["Year"] = df_estimated["Year"].astype(int)
df_reported["Year"] = df_reported["Year"].astype(int)
df_incidence["Year"] = df_incidence["Year"].astype(int)

MERGE THE 3 DATASETS

The 3 datasets are merged on Country and Year in order to have a single dataset for analysis

In [27]:
df_merged = df_estimated.merge(df_reported, on=["Country", "Year"], how="inner")
df_merged = df_merged.merge(df_incidence, on=["Country", "Year"], how="inner")

df_merged.head()

,Country,Year,Estimated Cases,Estimated Deaths,No. of cases_median,No. of cases_min,No. of cases_max,No. of deaths_median,No. of deaths_min,No. of deaths_max,WHO Region_x,Reported Cases,Reported Deaths,WHO Region_y,Malaria Incidence,WHO Region
0,Afghanistan,2017,630308[495000-801000],298[110-510],630308,495000.0,801000.0,298,110.0,510.0,Eastern Mediterranean,161778.0,10.0,Eastern Mediterranean,27.07,Eastern Mediterranean
1,Algeria,2017,0,0,0,498000.0,1389000.0,0,390.0,3565.0,Africa,0.0,0.0,Africa,0.00,Africa
2,Angola,2017,4615605[3106000-6661000],13316[9970-16600],4615605,3106000.0,6661000.0,13316,9970.0,16600.0,Africa,3874892.0,13967.0,Africa,228.91,Africa
3,Argentina,2017,0,0,0,498000.0,1389000.0,0,390.0,3565.0,Americas,0.0,1.0,Americas,0.00,Americas
4,Armenia,2017,0,0,0,498000.0,1389000.0,0,390.0,3565.0,Europe,0.0,1.0,Europe,0.00,Europe

---

# Checking for inconsistencies in the merged datasets

The above output of the 3 datasets shows the WHO Region column has been duplicated. Since the columns are similar contaning same variable,the 2 duplicates will be dropped. I will also check for any further inconsistencies in this merged datasets before analysis begins.

In [28]:
# Drop duplicate columns
df_merged.drop(columns=['WHO Region_x' , 'WHO Region_y'], inplace=True)
print(df_merged.head())

       Country  Year           Estimated Cases   Estimated Deaths  \
0  Afghanistan  2017     630308[495000-801000]       298[110-510]
1      Algeria  2017                         0                  0
2       Angola  2017  4615605[3106000-6661000]  13316[9970-16600]
3    Argentina  2017                         0                  0
4      Armenia  2017                         0                  0

   No. of cases_median  No. of cases_min  No. of cases_max  \
0               630308          495000.0          801000.0
1                    0          498000.0         1389000.0
2              4615605         3106000.0         6661000.0
3                    0          498000.0         1389000.0
4                    0          498000.0         1389000.0

   No. of deaths_median  No. of deaths_min  No. of deaths_max  Reported Cases  \
0                   298              110.0              510.0        161778.0
1                     0              390.0             3565.0             0.0
2                 13316             9970.0            16600.0       3874892.0
3                     0              390.0             3565.0             0.0
4                     0              390.0             3565.0             0.0

   Reported Deaths  Malaria Incidence             WHO Region
0             10.0              27.07  Eastern Mediterranean
1              0.0               0.00                 Africa
2          13967.0             228.91                 Africa
3              1.0               0.00               Americas
4              1.0               0.00                 Europe

In [29]:
#Check for negative values
print("Negative values in case or death estimates:")
negative_cases = df_merged[(df_merged['No. of cases_median'] < 0) | 
                           (df_merged['No. of cases_min'] < 0) | 
                           (df_merged['No. of cases_max'] < 0)]
negative_deaths = df_merged[(df_merged['No. of deaths_median'] < 0) | 
                            (df_merged['No. of deaths_min'] < 0) | 
                            (df_merged['No. of deaths_max'] < 0)]

print(negative_cases)
print(negative_deaths)

Negative values in case or death estimates:
Empty DataFrame
Columns: [Country, Year, Estimated Cases, Estimated Deaths, No. of cases_median, No. of cases_min, No. of cases_max, No. of deaths_median, No. of deaths_min, No. of deaths_max, Reported Cases, Reported Deaths, Malaria Incidence, WHO Region]
Index: []
Empty DataFrame
Columns: [Country, Year, Estimated Cases, Estimated Deaths, No. of cases_median, No. of cases_min, No. of cases_max, No. of deaths_median, No. of deaths_min, No. of deaths_max, Reported Cases, Reported Deaths, Malaria Incidence, WHO Region]
Index: []

In [ ]:
#Checks for any missing values in the merged dataset
print("Missing values in the dataset:")
print(df_merged.isnull().sum())

Missing values in the dataset:
Country                 0
Year                    0
Estimated Cases         0
Estimated Deaths        0
No. of cases_median     0
No. of cases_min        0
No. of cases_max        0
No. of deaths_median    0
No. of deaths_min       0
No. of deaths_max       0
Reported Cases          0
Reported Deaths         0
Malaria Incidence       0
WHO Region              0
dtype: int64

In [ ]:
#gives a summary of the dataset
print(df_merged.describe())

              Year  No. of cases_median  No. of cases_min  No. of cases_max  \
count   856.000000         8.560000e+02      8.560000e+02      8.560000e+02
mean   2013.500000         2.081990e+06      1.552671e+06      3.629022e+06
std       2.292627         6.381892e+06      4.365077e+06      8.950683e+06
min    2010.000000         0.000000e+00      3.000000e+01      4.000000e+01
25%    2011.750000         2.385000e+02      1.997500e+05      4.637500e+05
50%    2013.500000         3.752100e+04      4.980000e+05      1.389000e+06
75%    2015.250000         1.656628e+06      8.857500e+05      2.697750e+06
max    2017.000000         6.202089e+07      4.388000e+07      8.484000e+07

       No. of deaths_median  No. of deaths_min  No. of deaths_max  \
count            856.000000         856.000000         856.000000
mean            4713.880841        3590.996495        7595.655374
std            13183.312889       10348.503549       16101.378050
min                0.000000           0.000000           1.000000
25%                0.000000          80.000000        1352.500000
50%               55.500000         390.000000        3565.000000
75%             4096.000000        1772.500000        5920.000000
max           146734.000000      115000.000000      179000.000000

       Reported Cases  Reported Deaths  Malaria Incidence
count    8.560000e+02       856.000000         856.000000
mean     6.652528e+05      1182.592290          91.608855
std      1.733589e+06      3550.697097         140.085468
min      0.000000e+00         0.000000           0.000000
25%      2.300000e+02         0.000000           0.147500
50%      1.763950e+04        18.000000           7.090000
75%      3.497718e+05       652.250000         155.460000
max      1.533084e+07     39054.000000         585.540000

# Push files to Repo

* In cases where you don't need to push files to Repo, you may replace this section with "Conclusions and Next Steps" and state your conclusions and next steps.

In [32]:
import os
try:
  # create your folder here
  # os.makedirs(name='')
except Exception as e:
  print(e)

IndentationError: expected an indented block after 'try' statement on line 2 (553063055.py, line 5)